.nav-left {
    display: flex;
    gap: 5px; /* Adjust the space between buttons */
}
.nav-right {
    display: flex;
    gap: 5px; /* Adjust the space between buttons */
}
.button {
    margin: 0 15px;
    color: #4b3621; /* Brown */
    text-decoration: none;
    font-weight: bold;
    background-color: #fff0f3; /* Light Pink */
    padding: 10px 15px;
    border-radius: 10px; /* Rounded corners */
}
/*text centering*/
.center-text {
    text-align: center;
}